#PageContent {
  width: 100%;
  .pageHeader {
    background: #efefef;
    padding: 0.625rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 1rem;
      font-weight: 700;
      color: rgb(101, 101, 101);
      text-transform: uppercase;
    }
  }
  .container {
    padding: 2.5rem 1.25rem;
  }
}
